APP_ENV=
APP_SECRET=SOME_SECRET
DATABASE_URL=""

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=SOME_PASSPHRASE
###< lexik/jwt-authentication-bundle ###
