###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/var/
/vendor/
###< symfony/framework-bundle ###

/ci/infection/
/ci/phpdoc/
/ci/phpunit/
/ci/psalm/
/migrations-test/*.php
/public/api.json
/tools/
